/392
/3_92
/venv
/afzal
/backend/settings/secret.json
/db.sqlite3
/json_data/all_data_psql.json
/json_data/new_api_account_data.json
/fulldatafixure.json
/dump_data.txt
__pycache__/
old_requirements/
/staticfiles/media/Service Placeholders/
/staticfiles/media/Service SubCategory Placeholders/
/staticfiles/media/Blog_Placeholder/
/docker-compose.production.yml
/dockerfile.production
/dockerfiles/.env
/dockerfiles/.env.prod
/dockerfiles/init_sql_prod.sh
/dockerfiles/wait_for_psql.sh
/dockerfiles/start_script_prod.sh
/data