/392
/3_92
/venv
/afzal
/backend/settings/secret.json
/db.sqlite3
/json_data
/fulldatafixure.json
/dump_data.txt
__pycache__/
old_requirements/
/staticfiles/media/Service Placeholders/
/staticfiles/media/Service SubCategory Placeholders/
/staticfiles/media/Blog_Placeholder/
/.dockerignore
/docker-compose.yml
/dockerfile
/dockerfiles
/data